auto-install-peers=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
save-prefix=''
node-version=20.11.0
enable-pre-post-scripts=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=true
